{% extends "Home.html.twig" %}

{% block content %}
    <form method='post' action='/index.php/HelloTwig/Hello/sayHelloTo'>
        <p>Say hello to: 
        <input type='text' name='name' value='World' />
        <input type='submit'>
    </form>
{% endblock %}